body
{
	background-image: url("../assets/technology/background-technology-desktop.jpg");
    background-size: cover;
    background-position: center;
}
@media only screen and (max-width: 900px){
    body{
        background-image: url("../assets/technology/background-technology-tablet.jpg");
    }
}
@media only screen and (max-width: 500px){
    body{
        background-image: url("../assets/technology/background-technology-mobile.jpg");
    }
}